<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="InstrumentPath" value="" />
    <add key="ServerParkName" value="" />
    <add key="InstrumentName" value="" />
    <add key="InstrumentExtension" value="" />
    <add key="BlaiseServerHostName" value="" />
    <add key="BlaiseServerUserName" value="" />
    <add key="BlaiseServerPassword" value="" />
    <add key="BlaiseServerBinding" value="" />
    <add key="BlaiseConnectionPort" value="0" />
    <add key="BlaiseRemoteConnectionPort" value="0" />
    <add key="ConnectionExpiresInMinutes" value="0" />
    <add key="CatiUsername" value=""/>
    <add key="CatiPassword" value=""/>
    <add key="LoginUrl" value=""/>
    <add key="CaseInfoUrl" value=""/>
    <add key="DayBatchUrl" value=""/>
    <add key="InterviewUrl" value=""/>
    <add key="SpecificationUrl" value=""/>
    <add key="SurveyUrl" value=""/>
    <add key="ChromeDriver" value=""/>
  </appSettings>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <stepAssemblies>
      <stepAssembly assembly="Blaise.Instrument.Tests.Behaviour" />
    </stepAssemblies>
  </specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.11.4.0" newVersion="3.11.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>