<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
      <add key="InstrumentPath" value="C:\Users\User\Desktop" />
      <add key="InstrumentName" value="OPN2101A" />
      <add key="InstrumentExtension" value=".zip" />

      <add key="ServerParkName" value="LocalDevelopment" />
      <add key="BlaiseServerHostName" value="LocalHost" />
      <add key="BlaiseServerUserName" value="Root" />
      <add key="BlaiseServerPassword" value="Root" />
      <add key="BlaiseServerBinding" value="http" />
      <add key="BlaiseConnectionPort" value="8031" />
      <add key="BlaiseRemoteConnectionPort" value="8033" />
      <add key="ConnectionExpiresInMinutes" value="30" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>