<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="InstrumentPath" value="#{InstrumentPath}#" />
    <add key="ServerParkName" value="#{ServerParkName}#" />
    <add key="InstrumentName" value="#{InstrumentName}#"/>
    <add key="InstrumentExtension" value="#{InstrumentExtension}#"/>
    <add key="BlaiseServerHostName" value="#{BlaiseServerHostName}#"/>
    <add key="BlaiseServerUserName" value="#{BlaiseServerUserName}#"/>
    <add key="BlaiseServerPassword" value="#{BlaiseServerPassword}#"/>
    <add key="BlaiseServerBinding" value="#{BlaiseServerBinding}#"/>
    <add key="BlaiseConnectionPort" value="#{BlaiseConnectionPort}#" />
    <add key="BlaiseRemoteConnectionPort" value="#{BlaiseRemoteConnectionPort}#" />
    <add key="ConnectionExpiresInMinutes" value="#{ConnectionExpiresInMinutes}#" />
    <add key="CatiUsername" value="#{CatiUsername}#"/>
    <add key="CatiPassword" value="#{CatiPassword}#"/>
    <add key="LoginUrl" value="#{LoginUrl}#"/>
    <add key="CaseInfoUrl" value="#{CaseInfoUrl}#"/>
    <add key="DayBatchUrl" value="#{DayBatchUrl}#"/>
    <add key="InterviewUrl" value="#{InterviewUrl}#"/>
    <add key="SpecificationUrl" value="#{SpecificationUrl}#"/>
    <add key="SurveyUrl" value="#{SurveyUrl}#"/>
    <add key="ChromeDriver" value="#{ChromeDriver}#"/>
    <add key="InterviewRole" value="#{InterviewRole}#" />
    <add key="TimeOutInSeconds" value="#{TimeOutInSeconds}#" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.11.4.0" newVersion="3.11.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>