<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="InstrumentPath" value="c:\users\user\desktop\" />
    <add key="ServerParkName" value="gusty" />
    <add key="InstrumentName" value="opn2101a" />

    <add key="ENV_BLAISE_SERVER_HOST_NAME" value="dev-nik4-web.social-surveys.gcp.onsdigital.uk" />
    <add key="ENV_BLAISE_ADMIN_USER" value="blaise" />
    <add key="ENV_BLAISE_ADMIN_PASSWORD" value="iiRWPw45k269S8Ze" />
    <add key="ENV_BLAISE_SERVER_BINDING" value="https" />
    <add key="ENV_BLAISE_CONNECTION_PORT" value="8031" />
    <add key="ENV_BLAISE_REMOTE_CONNECTION_PORT" value="8033" />
    <add key="ENV_CONNECTION_EXPIRES_IN_MINUTES" value="60" />

    <add key="ENV_DQS_URL" value="https://dqs-ui-dot-ons-blaise-v2-dev-nik4.nw.r.appspot.com" />
    <add key="ChromeWebDriver" value="c:\users\user\desktop\" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.11.4.0" newVersion="3.11.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>