<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <stepAssemblies>
      <stepAssembly assembly="Blaise.Instrument.Tests.Behaviour" />
    </stepAssemblies>
  </specFlow>
  <appSettings>
    <add key="InstrumentPath" value="#{InstrumentPath}#" />
    <add key="ServerParkName" value="#{ServerParkName}#" />
    <add key="InstrumentName" value="#{InstrumentName}#" />
    <add key="InstrumentExtension" value="#{InstrumentExtension}#" />
    <add key="BlaiseServerHostName" value="#{BlaiseServerHostName}#" />
    <add key="BlaiseServerUserName" value="#{BlaiseServerUserName}#" />
    <add key="BlaiseServerPassword" value="#{BlaiseServerPassword}#" />
    <add key="BlaiseServerBinding" value="#{BlaiseServerBinding}#" />
    <add key="BlaiseConnectionPort" value="#{BlaiseConnectionPort}#" />
    <add key="BlaiseRemoteConnectionPort" value="#{BlaiseRemoteConnectionPort}#" />
    <add key="ConnectionExpiresInMinutes" value="#{ConnectionExpiresInMinutes}#" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>